<p>Test for a first footnote<sup id="fnref-1"><a href="#fn-1" class="footnote-ref">1</a></sup>. My name is Marius<sup id="fnref-2"><a href="#fn-2" class="footnote-ref">2</a></sup> and I am working on an implementation of footnotes<sup id="fnref-3"><a href="#fn-3" class="footnote-ref">3</a></sup> for Mardown Extra<sup id="fnref-4"><a href="#fn-4" class="footnote-ref">4</a></sup>.</p>
<hr/>
<dl>
<dd id="fn-1"><p>The explanation for the first footnote.<a href="#fnref-1">&#8617;</a></p>
</dd>
<dd id="fn-2"><p>Marius O.<a href="mailto:marius@habarnam.ro">marius@habarnam.ro</a><a href="#fnref-2">&#8617;</a></p>
</dd>
<dd id="fn-3"><p>See <a href="https://michelf.ca/projects/php-markdown/extra/#footnotes">reference</a><a href="#fnref-3">&#8617;</a></p>
</dd>
<dd id="fn-4"><p>Markdown Extra is an extension to PHP Markdown implementing some features currently not available with the plain Markdown syntax.
  https://michelf.ca/projects/php-markdown/extra/<a href="#fnref-4">&#8617;</a></p>
</dd>
</dl>
